.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url('../../../../public/imagens/Ceva-gado-brahman-alimentando-se-em-palete-dentro-do-confinamento.webp');
  background-size: cover;
  background-position: center;
  filter: brightness(0.6) contrast(1.2);
  z-index: 0;
}
.hero-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* ou um gradiente suave */
  z-index: 1;
}
